html {
    box-sizing: border-box;
}

#console {
    background: red;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

#console img {
    min-width: 100vw;
    position: fixed;
    bottom: 0;
}

body {
    background: url(images/starBG.png) center/50% fixed;
    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#chorg {
    background: url(images/alienproto.png) center/100% no-repeat;
    width: 10em;
    height: 10em;
    position: fixed;
    bottom: 10em;
    right: 5em;
    z-index: 1;
}

#main_container {
    width: 100vw;
    height: 100vh;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* #main_container::-webkit-scrollbar {
    display: none;
} */

img {
    max-width: 10em;
}

#intro {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10em;
}

#chorgintro {
    background: blue;
}